body {

  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-shadow: 0px 0px 2px #000;
  color: #ffffff;
  margin: 0px;
}

#app {
  background: url(images/bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
  margin: 0px;
  height: 400px;
  text-align: center;
}

#weather {
  padding: 15px;
  vertical-align: middle;

}

.temperature {

  font-size: 80px;
  position: relative;

}

#temp-values {
  text-align: center;

}

#info {
  position: relative;
  bottom: 20px;

}

#news {
  padding-left: 20px;
  position: relative;
  overflow: auto;
  
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
  background-color: grey;
  text-shadow: 0;
  margin: 0px;
  text-align: left;

}

.icon {
  position: relative;
  top: 2px;
  padding-left: 8px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000;
   color: white;
   text-align: center;
}
